<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Alexander Bozhnyuk</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/icon.jpg" rel="icon" />
    <link href="assets/img/icon.jpg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>



  </head>

  <body>
    <div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation of exit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to log out? We could chat some more :)
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{url_for('logout')}}">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      VK.init({apiId: 7840867, onlyWidgets: true});
    </script>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="assets/img/profile-img.jpg"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light">
            <a href="index.html">Alexander Bozhnyuk</a>
          </h1>
          <div class="social-links mt-3 text-center">
            <a href="https://vk.com/alex_bog01" class="vk"
              ><i class="bx bxl-vk"></i
            ></a>
            <a href="https://github.com/bozhnyukAlex" class="github"
              ><i class="bx bxl-github"></i
            ></a>
            <a href="https://t.me/bozhnyuks" class="telegram"
              ><i class="bx bxl-telegram"></i
            ></a>
            <a href="https://www.instagram.com/alek_sandr_05/" class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#hero" class="nav-link scrollto active"
                ><i class="bx bx-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="#about" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>About</span></a
              >
            </li>
            <li>
              <a href="#resume" class="nav-link scrollto"
                ><i class="bx bx-file-blank"></i> <span>Resume</span></a
              >
            </li>
            <li>
              <a href="#portfolio" class="nav-link scrollto"
                ><i class="bx bx-book-content"></i> <span>Portfolio</span></a
              >
            </li>
            <li>
              <a href="#contact" class="nav-link scrollto"
                ><i class="bx bx-envelope"></i> <span>Contacts</span></a
              >
            </li>
            <li>
              <a href="#comments" class="nav-link scrollto"
                ><i class="bx bx-chat"></i> <span>Comments</span></a
              >
            </li>
            {%block login%} {%endblock%}
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container" data-aos="fade-in">
        <h1>Alexander Bozhnyuk</h1>
        <p>
          I'm
          <span
            class="typed"
            data-typed-items="Programmer, Beginning Developer, Beginning Software Engineer, Student"
          ></span>
        </p>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>About</h2>
            <p>
              My name is Alexander Bozhnyuk and I'm studying in Saint-Petersburg
              University on Faculty of Mathematics and Mechanics.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="assets/img/profile-img.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Software engineering student</h3>
              <p class="fst-italic">
                I am studying in the educational direction "Software
                Engineering". Why did I choose this way? Because back in school,
                when I wrote a small application for android, I realized that I
                like programming. Also I am interested in IT technologies and I
                want connect my life with this path.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Birthday:</strong> <span>5 August 2001</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Phone:</strong> <span><a href="tel:+79527970473">+7(952)-797-04-73</a></span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>City:</strong>
                      <span>Saint-Petersburg, Russia</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                      <span>19</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Degree:</strong> <span>Bachelor in 2023</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Email:</strong>
                      <span><a href="mailto:bozhnyuks@mail.ru">bozhnyuks@mail.ru</a></span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>
                I love problem solving. I especially love to learn different
                approaches to achieve the best result. At the same time, I
                always try to extract something useful for myself, something
                important. I also like to plan, build in my head (or on paper) a
                plan for solving a complex problem, and then start implementing
                it. It is also important to note that I try to approach any task
                as creatively as I can.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Skills</h2>
            <p>
              I have always strived to improve my skills in my favorite
              profession. I am very fond of comprehending something new.
              Therefore, in the future, the arsenal of tools which I can use
              will only grow.
            </p>
          </div>

          <div class="row skills-content">
            <div class="col-lg-6" data-aos="fade-up">
              <div class="progress">
                <span class="skill">JAVA <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">KOTLIN <i class="val">60%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">C <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="progress">
                <span class="skill">OCaml <i class="val">50%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Python <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">HTML/CSS <i class="val">40%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="40"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Resume</h2>
            <p>
              The path that I have passed cannot yet be called very long, but it
              is already very rich and full of interesting things. Below you
              will see information about what I have learned and what tasks I
              have already worked on.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Alexander Bozhnyuk</h4>
                <p>
                  <em
                    >A student of St. Petersburg State University, from
                    Kaliningrad with 2-year programming experience. My favorite
                    languages are Java and OCaml, and I like to work with this
                    two platforms. I am also interested in the topic of
                    compilers, programming languages, and therefore, perhaps, I
                    would like to work in this direction. In the end of the
                    ends, I would like to become a software engineer capable of
                    solving really difficult problems.
                  </em>
                </p>
                <ul>
                  <li>Saint-Petersburg, Russia</li>
                  <li><a href="tel:+79527970473">+7(952)-797-04-73</a></li>
                  <li><a href="mailto:bozhnyuks@mail.ru">bozhnyuks@mail.ru</a></li>
                </ul>
              </div>

              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>School Education</h4>
                <h5>2008 - 2019</h5>
                <p><em>Gymnasium No. 32, Kaliningrad</em></p>
                <p>
                  Graduated from school with a gold medal and a red certificate.
                  Was doing some competitive programming, and also got
                  acquainted with programming for the Android OS.
                </p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Software Engineering</h4>
                <h5>2019 - 2023</h5>
                <p>
                  <em
                    >Saint Petersburg State University, Faculcy of Mathematics
                    and Mechanics, Department of System Programming</em
                  >
                </p>
                <p>
                  The direction teaches how to create software. During the
                  studying, all important aspects are touched upon: idea,
                  design, programming itself, maintenance and much more. Also,
                  attention is paid to the mathematical foundation.
                </p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">More about the university program</h3>
              <div class="resume-item">
                <h4>First Semester</h4>
                <h5>2019, second half</h5>
                <ul>
                  <li>
                    Introduction to mathematical disciplines: mathematical
                    analysis, linear algebra, number theory, basics of graph
                    theory, the basics of probability theory, discrete
                    mathematics.
                  </li>
                  <li>
                    Software engineering: an introduction. C language,
                    basics of low-level programming. Development of general
                    knowledge about the professional field in general.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Second Semester</h4>
                <h5>2020, first half</h5>
                <ul>
                  <li>
                    Mathematical disciplines: continuation of mathematical
                    analysis, differential calculus in multidimensional spaces,
                    analytical geometry.</br>
                    Discrete Mathematics: Dynamic Programming, Markov Chains, Knapsack Problem, Flow Problem
                  </li>
                  <li>
                    Writing mini-assembler interpretator.</br> 
                    Introduction to Java and OOP. Working with JavaFX and making a table game (I made Battleship) with UI. Implementing UI application for drawing plots. Working with IoC containers and Spring Framework.
                  </li>
                  <li>
                    A deeper dive into the architecture of computing systems and their history.</br> Introduction to algorithms and data structures.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Third Semester</h4>
                <h5>2020, second half</h5>
                <ul>
                  <li>
                    Mathematical disciplines: continuation of mathematical
                    analysis, measure theory, Fourier series.</br>
                    Computation theory: automata, Turing machine, regular expressions.
                  </li>
                  <li>
                    Multiprocessor Programming: parallel algorithms, data structures, synchronization Algorithms. Implementing an Application for filtering photos with concurrency.
                  </li>
                  <li>
                    Functional Programming. Recursion schemes, type algebra, lambda calculus, monads.</br>
                    Implementation of mini-Java language with OOP component: parser, interpreter, REPL.
                  </li>
                  <li>
                    Operating Systems. Implementation of task scheduler, fork, exec, wait and exit. Working with virtual memory.
                  </li>
                  <li>
                    Introduction to software engineering: roles, qualities, development methodologies, different approaches.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Fourth Semester</h4>
                <h5>2021, first half</h5>
                <ul>
                  <li>
                    Mathematical disciplines: probability theory and mathematical statistics, mathematical logic, computational mathematics, differential equations.
                  </li>
                  <li>
                    Product Desigh: idea, research, market analysis, prototyping, design, MVP.
                  </li>
                  <li>
                    Scientific practice: comparison of Dynamic Voltage and Frequency Scaling algorithms
                  </li>
                  <li>
                    WEB Programming: HTML, CSS, Python, Flask, SQLAlchemy.</br>
                    Working with Python for scientific purposes: Jupyter Notebooks.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>
              Below you can see the projects that I have been doing during 2 years of study.
            </p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-research">Research</li>
                <li data-filter=".filter-soft">Soft</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-botanic.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-botanic.png"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Botanic Application"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details-botanica.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-soft">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-java.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-java.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Mini-java language implementation"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details-java.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            

            <div class="col-lg-4 col-md-6 portfolio-item filter-research">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-dvfs.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-dvfs.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Comparison of current Dynamic Voltage and Frequency Scaling algorithms"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details-dvfs.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-battleship.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-battleship.png"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Battleship game implementation"
                    ><i class="bx bx-plus"></i
                  ></a>
                  <a href="portfolio-details-battleship.html" title="More Details"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Testimonials</h2>
          </div>

            <div class="testimonial-item" data-aos="fade-up">
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      In the course of work, student Bozhnyuk Aleksandr Sergeevich actively and regularly interacted with the scientific advisor, completed the assigned tasks in a timely manner, showed great independence and promptly eliminated the identified comments on the work.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img
                      src="assets/img/testimonials/stan.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Stanislav Sartasov</h3>
                    <h4>Assistant Professor &amp; Team Lead</h4>
            </div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contacts</h2>
          </div>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Botanicheskaya Street 66/4, Peterhof, 198594</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>
                    <a href="mailto:bozhnyuks@mail.ru">bozhnyuks@mail.ru</a>
                  </p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>
                    <a href="tel:+79527970473">+7(952)-797-04-73</a>
                  </p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2002.4850883821123!2d29.824894616159153!3d59.87429567424945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696413cb32d4649%3A0x3b47802d409475f1!2z0JHQvtGC0LDQvdC40YfQtdGB0LrQsNGPINGD0LsuLCA2NiDQutC-0YDQv9GD0YEgNCwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5ODUwNA!5e0!3m2!1sru!2sru!4v1618415645661!5m2!1sru!2sru"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div> -->
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
      <section id="comments" class="comments">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Comments</h2>
          </div>
          {%block questions%} {%endblock%}
        </div>
      </section>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
