<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Alexander Bozhnyuk</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/icon.jpg" rel="icon" />
    <link href="assets/img/icon.jpg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>



  </head>
<body>
  <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="assets/img/profile-img.jpg"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light">
            <a href="index.html">Alexander Bozhnyuk</a>
          </h1>
          <div class="social-links mt-3 text-center">
            <a href="https://vk.com/alex_bog01" class="vk"
              ><i class="bx bxl-vk"></i
            ></a>
            <a href="https://github.com/bozhnyukAlex" class="github"
              ><i class="bx bxl-github"></i
            ></a>
            <a href="https://t.me/bozhnyuks" class="telegram"
              ><i class="bx bxl-telegram"></i
            ></a>
            <a href="https://www.instagram.com/alek_sandr_05/" class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li><a href="#logout"><i class="bx bx-log-out-circle"></i> <span>Logout</span></a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <!-- ======= Logout ======= -->
    <section id="logout" class="contact">
      <div class="container">

          <div class="section-title">
              <h2>Logout</h2>
              <p>Are you sure?</p>
          </div>

          <div class="info-box">
              <div class="modal-body">
                  <div style="color:#362a01;">Do you really want to log out? While being authorized you could send me some feedback!</div>
              </div>

              <div class="modal-footer">
                  <form action="{{ url_for('logout') }}">
                      <button type="submit" class="btn btn-dark" style="color:#f4a32a;">Confirm</button>
                  </form>
                  <form action="{{ url_for('index_page') }}">
                      <button type="submit" class="btn btn-light" style="color:#f4a32a;">Cancel</button>
                  </form>
              </div>
          </div>

      </div>
   </section>
  <!-- End logout -->

</body>
</html>